/*buttons*/
.btn{
    background-color: #001233;
    border-color: white;
    border-style: solid;
    padding: 0.3rem;
    border-radius: 5px;
    width: 25%;
    height: max-content;
    text-align: center;
    transition: all 200ms ease-out;
    box-shadow: white 1px;
}

.btn:hover{
    filter: drop-shadow(0 0 4px white)
}
/*grid*/

/*idea input form*/